@charset "UTF-8";

#wrap {
}

header {
	height: 80px;
	background-color: lightgrey;
}

footer {
	height: 80px;
    background-color: lightgrey;
    font-size: 17px
}

.contents {
    min-height: 500px; 
}

#loginBox {
	height: 450px;
}

#signUpBox {
	height: 450px;
}

.left-side {
    background-color: lightgrey;
    width: 250px;
    height: 55px;
}

.right-side {
    width: 400px;
    height: 55px;
}

.logo-text, .logo-text:hover {
	color:black;
	text-decoration: none;
}